<div class="swac_upload uk-placeholder uk-text-center">
    <span uk-icon="icon: cloud-upload"></span>
    <span class="uk-text-middle" swac_lang="Upload.selectfile">Select file</span>
    <div uk-form-custom>
        <input class="uk-input swac_fileselect" type="file">
        <span class="uk-link" swac_lang="Upload.draganddropfile">Drop file here</span>
    </div>
    <span class="swac_upload_camcapture_link" swac_lang="Upload.device_select">Or select cam for captureing</span>
</div>
<div class="swac_upload_preview uk-text-center">
    <span uk-icon="icon: camera"></span>
    <label class="uk-form-label" swac_lang="Upload.device_active">Active capture device</label>
    <select class="swac_upload_devicelist uk-select"></select>
    <div class="swac_upload_preview uk-flex uk-flex-center uk-padding">
        <video autoplay width="640" height="480">Video stream not available</video>
        <canvas class="swac_upload_recording_canvas swac_dontdisplay" width="1920" height="1080"></canvas>
    </div>
    <div class="uk-flex uk-flex-center" uk-margin>
        <button class="swack_upload_takephoto uk-button uk-button-primary uk-margin-right" swac_lang="Upload.take_photo">Take photo</button>
        <button class="swac_upload_capvideo uk-button uk-button-primary uk-margin-left" swac_lang="Upload.capture_video">Capture video</button>
    </div>
</div>
<table class="uk-table uk-table-divider">
    <thead>
        <tr>
            <th swac_lang="Upload.column_file">File</th>
            <th swac_lang="Upload.column_type">Type</th>
            <th swac_lang="Upload.column_status">Status</th>
            <th swac_lang="Upload.column_remove" class="uk-width-small">Delete</th>
        </tr>
    </thead>
    <tbody class="swac_upload_status">
        <tr class="swac_repeatForSet">
            <td><input attrname="title" value="{title}" class="uk-input uk-form-width-medium" /></td>
            <td>{type}</td>
            <td>{state}</td>
            <td><button class="swac_upload_removeBtn uk-button uk-button-danger"><span uk-icon="icon: trash"></span></button></td>
        </tr>
    </tbody>
</table>
<progress class="uk-progress swac_upload_progressbar" value="0" max="100" hidden></progress>
<button class="swac_upload_doBtn uk-input" swac_lang="Upload.uploadFilesButton">Upload pending files</button>
<button class="swac_upload_ClrBtn uk-input" swac_lang="Upload.removeFilesButton">Remove files</button>
<div id="help_container"></div>
<div class="swac_upload_forUpload swac_dontdisplay">
    <table class="uk-table uk-table-divider">
        <thead>
            <tr>
                <th swac_lang="Upload.answer_key">Key</th>
                <th swac_lang="Upload.answer_value">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr class="swac_repeatForValue">
                <td swac_lang="{attrName}">{attrName}</td>
                <td><input class="uk-input uk-form-width-medium" name="{attrName}" value="{*}" /></td>
            </tr>
        </tbody>
    </table>
    <button class="swac_upload_result_savebtn uk-button uk-button-primary" swac_lang="save">Save</button>
</div>