<div>
    <div class="swac_speech_dialog swac_dontdisplay">
        <ul class="uk-comment-list">
            <li>
                <article class="uk-comment uk-visible-toggle swac_speech_request" tabindex="-1" role="comment">
                    <header class="uk-comment-header uk-position-relative">
                        <div class="uk-grid-medium uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-comment-avatar" src="/SWAC/swac/components/Icon/imgs/group.svg" width="80" height="80" alt="">
                            </div>
                            <div class="uk-width-expand">
                                <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Mensch</a></h4>
                                <p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset" href="#"></a></p>
                            </div>
                        </div>
                        <div class="uk-position-top-right uk-position-small uk-hidden-hover"><a class="uk-link-muted" href="#">Reply</a></div>
                    </header>
                    <div class="uk-comment-body swac_speech_request_text">
                    </div>
                </article>
                <ul>
                    <li>
                        <article class="uk-comment uk-comment-primary uk-visible-toggle swac_speech_reply" tabindex="-1" role="comment">
                            <header class="uk-comment-header uk-position-relative">
                                <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                    <div class="uk-width-auto">
                                        <img class="uk-comment-avatar" src="/SWAC/swac/components/Icon/imgs/computer.svg" width="80" height="80" alt="">
                                    </div>
                                    <div class="uk-width-expand">
                                        <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Computer</a></h4>
                                        <p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset" href="#"></a></p>
                                    </div>
                                </div>
                                <div class="uk-position-top-right uk-position-small uk-hidden-hover"><a class="uk-link-muted" href="#">Reply</a></div>
                            </header>
                            <div class="uk-comment-body swac_speech_reply_text">
                            </div>
                        </article>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>