html, body {
    /* background-color: #F5FFFA;*/
    background-color: antiquewhite;
    margin: 0;
    width: 100%;
}

.back-to-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: darkcyan;
    color: white;
}

.back-to-top a {
    color: inherit;
    text-decoration-line: none;
}

/* Header */
header {
    /* display: flex;
    flex-direction: row; */
    min-height: 160px;
}

.login-area {
    text-align: right;
    justify-content: right;
    gap: 3px;
    position: absolute;
    right: 0;
    top: 0;
}

.login-area fieldset, .login-area form {
    gap: 3px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.main-nav {
    background-color: black;
    color: white;
    padding: 5px;
    border-style: solid;
    border-color: #00BFFF;
    border-width: 3px;
    margin: 0;
}

.main-nav a {
    color: inherit;
    text-decoration-line: none;
    font-size: 1.5em;
    font-weight: bold;
}

.main-nav a:hover {
    background-color: #87CEFA;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}

footer a {
    color: inherit;
    text-decoration-line: none;
}