<form>
    <fieldset class="uk-fieldset">
        <legend class="uk-legend" swac_lang="ContactForm.contact">Contact</legend>

        <div class="uk-margin">
            <input name="name" class="uk-input" type="text" placeholder="Your name" aria-label="Your name">
        </div>
        
        <div class="uk-margin">
            <input name="email" class="uk-input" type="email" placeholder="Your email" aria-label="Your email">
        </div>

        <div class="uk-margin">
            <textarea name="message" class="uk-textarea" rows="5" placeholder="Your message" aria-label="Your message" required></textarea>
        </div>

        <div class="uk-margin">
            <button class="uk-button" type="submit">Submit</button>
        </div>
    </fieldset>
</form>